body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	font-family: "Lato";
	margin: 0px;
	height: 600px;
}


html{
	height: 100%;
}


h1{
	color: white;
	/*background-color: black;*/
	height: 70px;
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
	font-size: 3em;
	/*color: black;*/
}

.container{
	text-align: left;
	padding-left: 40px;
	padding-top: 10px;
	color: white;
	
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
}


#textbox{
	height: 400px;
	max-width: 500px;
	width: 2000px;
}

#but{
	margin-left: 160px;
	margin-top: 10px;
}

input{
	margin-top: 10px;
}